/* You can add global styles to this file, and also import other style files */
.welcome-messages {
  color: white;
  font-size: 26px !important;
  font-family: 'Arial', sans-serif !important;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}
